BOUNDLESS_API_PERMANENT_TOKEN= eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpSWQiOjMyMTIsImNJZCI6InYwcUM5M2hlc2hUVXBybkgzIiwiaWF0IjoxNzE3NzEzNzMzfQ.ZVpV37_vw2LxfwFqA7i2bRa9am_amKeK37UEl4l00yx3yzCpIOWWh8Zjp1Npt85aRolXpzKNsH77VihK4ic7Qg

BOUNDLESS_INSTANCE_ID= 3212

# Optional params:
# BOUNDLESS_BASE_URL=< your shop url, i.e. http://www.myshop.com >
# BOUNDLESS_PRODUCTS_IMAGE_PROPORTION=

# For dev team:
# BOUNDLESS_API_BASE_URL=https://api.rick.dev.boundless-commerce.com
# BOUNDLESS_S3_PREFIX=dev-rick
# BOUNDLESS_MEDIA_SERVER=https://dev-img.boundless-commerce.com